$heading-font-family: "Inter", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: pxToRem(40)
$header-logo-height-desktop: pxToRem(60)
$hero-background-color: none
$footer-logo-height: pxToRem(40)
$footer-logo-height-desktop: pxToRem(60)
