$heading-font-family: "Lexend", "Helvetica", "Arial", sans-serif
$body-font-family: "Lexend_body", sans-serif

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none


$text-color: #284430;
$primary-color: #D4FFE0;
$secondary-color: #bbfaba;
$selection-color: #96e6b3;
$background-color: #f1fffa

$color-accent: $selection-color !default
$color-text: $text-color !default
$color-background: $background-color !default
$color-border: $text-color !default