$text-color: #314336;
$primary-color: #D4FFE0;
$secondary-color: #bbfaba;
$selection-color: #96e6b3;
$background-color: #f1fffa

.search-button
    display: none

h1,h2,h3,h4,h5,h6,p,a,th,td,span
    color: $text-color !important;

#document-footer h1,#document-footer h2,#document-footer h3,#document-footer h4,#document-footer h5,#document-footer h6,#document-footer p,#document-footer a,#document-footer th,#document-footer td,#document-footer span, .primary-menu h1,.primary-menu h2,.primary-menu h3,.primary-menu h4,.primary-menu h5,.primary-menu h6,.primary-menu p,.primary-menu a,.primary-menu th,.primary-menu td,.primary-menu span
    color: $background-color !important


#document-footer, .primary-menu
    background: $text-color !important
 
    
button:hover:not(:has(img))
    background-color: $selection-color !important;



h1
    font-size: 48px !important;
h2
    font-size: 24px !important;
h3
    font-size: 16px !important;
h4
    font-size: 16px !important;

p
    font-size: 18px !important;


.taxonomies-list .dropdown button
    margin-right: 12px !important

.taxonomy-categories ul li a
    background-color: white

.actions a
    background-color: $secondary-color !important
    border: none !important
    border-radius: 15px !important
.actions a:hover
    background-color: $selection-color !important
.organization
    .media
        img
            mix-blend-mode: multiply

.categories--grid
    article
        .media
            img
                aspect-ratio: 4/3

footer#document-footer
    .footer-site
        display: none
    @include media-breakpoint-up(desktop)
        .container
            justify-content: center
        .footer-legals
            .footer-credit,
            .nav-legal li,
            .nav-legal 
                display: inline-block
            .nav-legal li
                margin-right: $spacing-3


body
    background-color: white !important

.video
    width: 40vw !important