$text-color: #281E32;
$primary-color: #D7F2BA;
$secondary-color: #9CC69B;
$selection-color: #52A294;
$background-color: #F2F2F2;

.search-button
    display: none

h1,h2,h3,h4,h5,h6,p,a,th,td,span
    color: $text-color !important;

.primary-menu, #document-footer
    background: $background-color !important;

body
    background-color: $primary-color;
button
    background-color: $secondary-color !important;

button:hover
    background-color: $selection-color !important;
    
.lightbox-button
    background-color: $background-color !important;


h1
    font-size: 48px;
h2
    font-size: 32px;
h3
    font-size: 24px;
h4
    font-size: 24px;

p
    font-size: 18px;

header#document-header .logo img, footer#document-footer .logo img
    width: 96px;
    height: 96px !important;

footer#document-footer span
    display: none;

.taxonomies-list .dropdown button
    margin-right: 12px !important

.taxonomy-categories ul li a
    background-color: $secondary-color
